<?xml version="1.0"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="hardware_interface" default="PositionJointInterface" />
  <!-- <arg name="hardware_interface" default="VelocityJointInterface" /> -->
  <arg name="robot_name" default="iiwa" />
  <arg name="model" default="iiwa14"/>
  <arg name="trajectory" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find kuka_gripper_gazebo)/worlds/kuka_gripper.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- send robot urdf to param server -->
  <!--include file="$(find robotiq_85_description)/launch/iiwaWith.launch"/ -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kuka_gripper_description)/urdf/iiwaWithGripper44.urdf.xacro'"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -x -1.0 -y 0 -z 0 -param robot_description -model robot" respawn="false" output="screen" />

  <include file="$(find robotiq_85_gazebo)/launch/controller_utils.launch"/>
  <rosparam file="$(find robotiq_85_gazebo)/controller/gripper_controller_robotiq.yaml" command="load"/> 
  <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" args="gripper --shutdown-timeout 0.5" />

  
    <group ns="$(arg robot_name)" unless="$(arg trajectory)">
        
        <include file="$(find kuka_gripper_control)/launch/kuka_gripper_control.launch">
        <arg name="controllers" value="joint_state_controller
                $(arg hardware_interface)_J1_controller
                $(arg hardware_interface)_J2_controller
                $(arg hardware_interface)_J3_controller
                $(arg hardware_interface)_J4_controller
                $(arg hardware_interface)_J5_controller
                $(arg hardware_interface)_J6_controller
                $(arg hardware_interface)_J7_controller
                PositionJointInterface_gripper"/>
    </include>
    </group>

  <!-- Spawn controllers - it uses a JointTrajectoryController -->
    <!-- <group  ns="$(arg robot_name)" if="$(arg trajectory)">
        <include file="$(find iiwa_control)/launch/iiwa_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="joint_state_controller $(arg hardware_interface)_trajectory_controller" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)" />
        </include>
    </group> -->
    
    <!-- Spawn controllers - it uses an Effort Controller for each joint -->
    <!-- <group ns="$(arg robot_name)" unless="$(arg trajectory)">
        
        <include file="$(find iiwa_control)/launch/iiwa_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="joint_state_controller
                 $(arg hardware_interface)_J1_controller
                 $(arg hardware_interface)_J2_controller
                 $(arg hardware_interface)_J3_controller
                 $(arg hardware_interface)_J4_controller
                 $(arg hardware_interface)_J5_controller
                 $(arg hardware_interface)_J6_controller
                 $(arg hardware_interface)_J7_controller"/>
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)" />
        </include>
        
    </group> -->

  <!-- Spawn a robot into Gazebo -->
  <node name="table" pkg="gazebo_ros" type="spawn_model" args="-file $(find kuka_gripper_gazebo)/models/table.urdf -urdf -x 0 -y 0 -z 0.5 -model table" />
  
  <!-- Spawn a robot into Gazebo -->
  <node name="box" pkg="gazebo_ros" type="spawn_model" args="-file $(find kuka_gripper_gazebo)/models/box.urdf -urdf -x 0.2 -y 0 -z 2 -model box" />
  <!-- to remove the box: rosservice call gazebo/delete_model '{model_name: box}' -->
  
  <!-- Convert xacro and put on parameter server -->
  <param name="ceilingCamera" command="$(find xacro)/xacro.py $(find kuka_gripper_gazebo)/models/ceilingCamera.urdf.xacro" />

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf2" pkg="gazebo_ros" type="spawn_model" args="-param ceilingCamera -urdf -x 0.5 -y 0 -z 2 -model ceilingCamera" />
  

</launch>
